body{
    background: #ffffff;
}
.hero-section {
            height: 100vh;
            background: url('https://images3.alphacoders.com/109/thumb-1920-1093282.jpg') no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tagline-line {
            background-color: rgba(255, 255, 255, 0.7);
            display: block;
            text-align: center;
            padding: 0.5rem 1.5rem;
            margin: 0.5rem 0;
            font-size: 2.5rem;
            font-weight: bold;
            color: black;
            letter-spacing: 4px;
        }