<!-- your html code here -->
<div class="container border-top">
    <h1 style="font-family: Arial, Helvetica, sans-serif; margin-top: 8%;"><strong>Contact</strong></h1>
    <p style="font-size: 25px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum iure eum explicabo
        odio illum, neque nemo
        reiciendis ex qui unde fugiat minus ducimus ipsam aspernatur, amet consequuntur cupiditate culpa. Nulla!</p>

    <div class="container-md col-8 bg-light border rounded-2" style="margin-top: 2%;">
        <div class="mb-3 row">
            <label for="exampleFormControlInput1" class="form-label col-3 text-end" style="margin-top: 2.5%;"><strong>Your E-mail</strong></label>
            <input type="email" class="form-control col" id="exampleFormControlInput1" placeholder="Your email" style="margin: 2% 2% 0% 2%;">
        </div>
        <div class="mb-3 row">
            <label for="exampleFormControlTextarea1" class="form-label col-3 text-end"><strong>Your Message</strong></label>
            <textarea class="form-control col" id="exampleFormControlTextarea1" rows="5" style="margin: 0% 2% 0% 2%;" placeholder="Please enter your message here..."></textarea>
        </div>
        <div class="row d-flex justify-content-end">
            <button type="button" class="btn btn-lg col-2 text-white" style="margin: 0% 2% 3% 0%; background-color: #3885a8; font-family: Arial, Helvetica, sans-serif; font-size: 20px;">Submit</button> 
        </div>       
    </div>
</div>