<!-- your html code here -->
<div class="container-fluid">
    
    <div class="row mx-auto">
        <h3>The First Heading
        <small class="text-body-primary">Will Catch Your Eye</small>
        </h3>
        <p class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nemo aliquam obcaecati aspernatur, similique laudantium necessitatibus rerum excepturi optio fuga nesciunt maxime ex consequuntur at, tenetur facilis. Ea perferendis possimus quos dignissimos totam! Voluptate minima similique perspiciatis ducimus assumenda, non ad voluptatum eum, magnam obcaecati quibusdam ex consequuntur laborum id?</p>

        <img class="col-4" src="../assets/img/1.jpg" alt="doctorstrange">
    </div>
    
</div>