<!-- your html code here -->
<div class="container border-top">
    <h1 style="font-family: Arial, Helvetica, sans-serif; margin-top: 8%;"><strong>Porfolio</strong></h1>
    <p style="font-size: 25px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum iure eum explicabo
        odio illum, neque nemo
        reiciendis ex qui unde fugiat minus ducimus ipsam aspernatur, amet consequuntur cupiditate culpa. Nulla!</p>
</div>

<div class="container text-start" style="margin-top: 0.7%; margin-bottom: 2.5%;">
    <div class="row align-items-start">
        <div class="col">
            <img src="https://picsum.photos/700/400?random=1" class="card-img-top" alt="...">
            <h4 class="mt-3" style="font-family: Arial, Helvetica, sans-serif; color: #0881b9;"><strong>Project
                    Name</strong></h4>
            <p class="mt-2" style="font-size: 14px;"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim placeat similique natus, a architecto debitis facere, est ipsum, id ea neque. Quos
                    quaerat.</strong></p>
        </div>
        <div class="col">
            <img src="https://picsum.photos/700/400?random=2" class="card-img-top" alt="...">
            <h4 class="mt-3" style="font-family: Arial, Helvetica, sans-serif; color: #0881b9;"><strong>Project
                    Name</strong></h4>
            <p class="mt-2" style="font-size: 14px;"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim placeat similique natus, a architecto debitis facere, est ipsum, id ea neque. Quos
                    quaerat.</strong></p>
        </div>
        <div class="col">
            <img src="https://picsum.photos/700/400?random=3" class="card-img-top" alt="...">
            <h4 class="mt-3" style="font-family: Arial, Helvetica, sans-serif; color: #0881b9;"><strong>Project
                    Name</strong></h4>
            <p class="mt-2" style="font-size: 14px;"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim placeat similique natus, a architecto debitis facere, est ipsum, id ea neque. Quos
                    quaerat.</strong></p>
        </div>
    </div>
</div>
