<!-- your html code here -->
<div class="container-fluid mt-5 pt-5 mb-5">

    <div class="container row mx-auto">

        <div class="col-4 p-0 m-0">
            <img class="img-fluid rounded-circle" src="/website/assets/img/2.jpg" alt="doctorstrange">
        </div>

        <div class=" col-8 p-0 m-0">
            <h3 class="fs-2">The Second Heading
                <small class="text-secondary">Is Pretty Cool Too.</small>
            </h3>
            <p>Donec ullampcorper nulla non metus auctor fringilia. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>

    
    </div>

</div>